Django           >= 1.9, < 1.10
django-reversion >= 1.10, < 1.11
python-dateutil  <  2.0 # 2+ is only for python 3
django_extensions
django-apptemplates
reportlab
django-reversion-compare < 0.7
#git+http://github.com/Velmont/django-reversion-compare.git@production#egg=django-reversion-compare
diff-match-patch
six
