{% extends "admin/base_site.html" %}
{% load i18n l10n admin_static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
     <a href="../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../">{{ app_label|capfirst }}</a> &rsaquo;
     <a href="./">{{ opts.verbose_name_plural|capfirst }}</a> &rsaquo;
     {% trans "PDF-info" %}
</div>
{% endblock %}

{% block content %}
    <form action="" method="post">{% csrf_token %}

    <fieldset class="module aligned">
    <div class=form-row>
      <div class=field-box>
        <label for=title class=required>Tittel:</label> <input type=text name=title class=vTextField value="Medlemspengar for Norsk Målungdom">
      </div>
    </div>
    <div class=form-row>
      <div>
        <label for=text class=required>Tekst</label> <textarea name=text class=vLargeTextField>Ver snill og betal medlemspengar. Norsk Målungdom treng det.</textarea>
      </div>
    </div>
    </fieldset>

    {% if n_utmelde %}
      <fieldset class="module aligned">
        <div class=form-row>
          <div class=field-box>
            <input type=checkbox name=ink-utmeld> <label for=ink-utmeld>Inkluder utmelde</label>
            <p>Det er {{ n_utmelde }} utmelde medlem i lista di.
            <p class=help>Du bør eigentleg aldri sjå dette, for å senda giroar til utmelde medlem er ikkje særleg bra.
          </div>
        </div>
      </fieldset>
    {% endif %}

    {% for obj in queryset %}
    <input type=hidden name="{{ action_checkbox_name }}" value="{{ obj.pk|unlocalize }}">
    {% endfor %}
    <input type=hidden name=action value=pdf_giro>
    <input type=hidden name=post value=yes>
    <div class=submit-row>
      <input type=submit value="Lag PDF-giroar" class=default>
    </div>
    </form>
{% endblock %}
