{% extends "base.html" %}

{% block content %}
<h1>{{ lokallag }}</h1>
    <p><strong>{{ medlem|length }}</strong> medlemar.
       <strong>{{ betalt_count }}</strong> har betalt.</p>
    <table>
        <thead><tr>
                <th>ID</th>
                <th>Namn</th>
                <th>Født</th>
                <th>mob/tlf</th>
                <th>Postadr</th>
                <th>Epost</th>
                <th>bet</th>
            </tr>
        </thead>
      <tbody>
  {% for m in medlem %}
          <tr>
            <td>{{ m.pk }}</td>
            <td>{{ m }}</td>
            <td>{{ m.fodt_farga|safe }}</td>
	    <td>{{ m.mobnr }}{% if m.heimenr %}, {{ m.heimenr }}{% endif %}</td>
            <td>{{ m.postadr }}</td>
            <td>{{ m.epost }}</td>
            <td>{{ m.har_betalt|yesno:"b,ub,?" }}</td>
          </tr>
  {% endfor %}
        </tbody>
      </table>

{% endblock %}
