{% comment %}
Copyright 2009-2014 Odin Hørthe Omdal

 This file is part of Medlemssys.

 Medlemssys is free software: you can redistribute it and/or modify
 it under the terms of the GNU Affero General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Medlemssys is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU Affero General Public License for more details.

 You should have received a copy of the GNU Affero General Public License
 along with Medlemssys.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% extends "admin/base_site.html" %}
{% load i18n l10n admin_static %}

{% block breadcrumbs %}
<div class="breadcrumbs">
     <a href="../">{% trans "Home" %}</a> &rsaquo;
     {% trans "Versjonar" %}
</div>
{% endblock %}

{% block content %}
    <div class="module aligned">
    <div class=form-row>
      <table>
        <col> <col style='width:40%'> <col style='width:40%'> <col>
        <tr><th>Dato <th>Endra <th>Kva <th>Kven
      {% for rev, ver in revision_list %}
        <tr><td> {{ rev.date_created }} <td>{{ ver|safe }} <td>{{ rev.comment|linebreaks }} <td>{{ rev.user|default:"" }}
      {% endfor %}
      </table>
    </div>
    </div>
{% endblock %}
