{% comment %}
Copyright 2009-2014 Odin Hørthe Omdal

 This file is part of Medlemssys.

 Medlemssys is free software: you can redistribute it and/or modify
 it under the terms of the GNU Affero General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Medlemssys is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU Affero General Public License for more details.

 You should have received a copy of the GNU Affero General Public License
 along with Medlemssys.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% extends "admin/giro/base.html" %}

{% block content %}
    <h1>Sende giro-epostar</h1>

    {% if successful %}
    <table><tr><th>Giro <th>Medlem <th>Epost <th>Status <th>Forklaring
    {% for giro in successful %}
        <tr>
            <td>{{ giro.admin_change|safe }}
            <td>{{ giro.medlem.admin_change|safe }} ({{ giro.medlem.alder }})
            <td>{{ giro.medlem.epost }}
            <td>{{ giro.get_status_display }}
            <td>{{ giro.desc }}
        </tr>
    {% endfor %}
    </table>
    {% else %}
    <div style='font-size:2em;color:#bbb;margin:2em 0 2em 3em'>&mdash; Ingenting gjort &mdash;</div>
    {% endif %}

    {% if unsuccessful %}
    <h2>Problematiske giroar</h2>
    <table><tr><th>Giro <th>Medlem <th>Epost <th>Status <th>Forklaring
    {% for giro in unsuccessful %}
        <tr>
            <td>{{ giro.admin_change|safe }}
            <td>{{ giro.medlem.admin_change|safe }} ({{ giro.medlem.alder }})
            <td>{{ giro.medlem.epost }}
            <td>{{ giro.get_status_display }}
            <td>{{ giro.desc }}
        </tr>
    {% endfor %}
    </table>
    {% endif %}
{% endblock %}
